<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" , href="styles.css")
    title Document
body
    header.site-header
        .site-header__logo 
             img(src="./dist/img/logo.svg")
    .wrapper
        .site-header__title НАШИ САЙТЫ ЗАСТАВЛЯЮТ РАБОТАТЬ ВАШ БИЗНЕС.
        .site-header__subtitle Большинство веб-студий считают окончанием работы загрузку  сайта в интернет.Но почти никто не умеет  делать проекты,который работают и приносят прибыль.  
        .site-header__features 
            .site-header__features__box #[strong 518] оказанных услуг
            .site-header__features__box #[strong 345] проектов
            .site-header__features__box #[strong 218]клиентов
        
        