.advancement  {
    position: relative;
    &__title {
        color:$colorTitle;
        font-size: 2rem;
        font-family: 'Parangon530C',sans-serif;
        font-weight: bold;
        padding-bottom: 40px;
    }
     &__text  {
        color:$colorTitle;
        font-size: 1rem;
        display: block;
        max-width: 549px;
        padding-top:40px;
        font-family: 'Arial',sans-serif;
        font-weight: 600;
        
             
    }
    &__partners {
        position: absolute;
        right:0px;
        top:0px;
        margin-left:200px;
        margin-right:200px;
        display: inline-block;
        
    }
}