.site-header {
    position: relative;
    background-image: url('./img/header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 810px;
    width: 100%;
    &__title {
       
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        display: inline;
        color: $white;
        font-size: 3rem;
        font-family: 'Parangon530C', sans-serif;
        font-weight: bold;
        position: absolute;
        top:200px;
    }
    &__subtitle {
        text-align: center;
        display: inline;
        color:$white;
        font-size: 1.5rem;
        font-family: 'Parangon530C',sans-serif;
        font-weight: 300;
        position: absolute;
        top:350px;
        padding:10px;

    }
    &__features {
        position: absolute;
        top:500px;
        left:0px;
        margin-left: 120px;
        margin-right: 180px;
        display: inline-block;


        &__box {
            //   position: absolute;
            top:200px;
            left:100px;
            border:2px solid $white;
            padding:50px 35px;
            width: 250px;
            max-width: 250px;
            color:$white;
            display:inline-block;
            margin:0px 30px;
            text-align: center;

            strong {
            text-align: center;
            font-weight: bold;
            color:$white;
            font-size: 3rem;
            margin:0px 60px;
            }

        }

    }
    
}